  /*--------------------*/
 /* Global Adjustments */
/*--------------------*/
*
{
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html
{
  overflow-x: hidden;
}

body
{
  background-color: #E5E5E5;
}

  /*-------------*/
 /* Fonts Setup */
/*-------------*/

h1
{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 2.75vw;
}

h2
{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 2.25vw;
}

p
{
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 0.02rem;
  font-size: 1.75vw;
}

  /*-----------------------*/
 /* Framework Key Classes */
/*-----------------------*/

.page
{
  width: 100vw;
  height: 100vh;
}

.instrumentUILarge
{
  width: 100vh;
  height: 100vh;
}

.instrumentUISmall
{
  width: 100vw;
  height: 100vw;
}
