.drumsComponent
{
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
}

.drumPad
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding: 0.5vw;
}

.labels
{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5vw;
  padding: 0.5vw;
}

.label
{
  width: 15vw;
  position: relative;
  left: -5vw;
  color: #FFF;
  font-size: 0.8rem;
  background-color: #141414;
  border-radius: 15%;
  display: flex;
  align-items: center;
}

.label img
{
  width: 8vw;
  position: relative;
  left: 5.5vw;
}

.drumPad .padRow
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.drumPad .padRow.active
{
  background-color: #ff3d3d;
}

.drumPad .padRow .hihat
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.pad
{
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 7.5%;
  padding: 0.5vw;
}

.hihatClosePad
{
  padding-bottom: 0;
}

.hihatClosePad .render
{
  border-bottom-right-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
}

.hihatOpenPad
{
  padding-top: 0;
}

.hihatOpenPad .render
{
  border-top-right-radius: 0% !important;
  border-top-left-radius: 0% !important;
}

.pad.active .render
{
  width: 100%;
  height: 100%;
  border-radius: 7.5%;
  background-color: #FE0000;
}

.pad:not(.active) .render
{
  width: 100%;
  height: 100%;
  border-radius: 7.5%;
  background-color: #242424;
}

.pad:hover
{
  box-shadow: 1px 1px 10px;
}
