.InfoTab
{
  position: relative;
  top: -2vh;
  right: -2vw;
  border-radius: 5%;
  background-color: #CCC;
  padding: 2vw;
  box-shadow: 5px 5px 35px;
}

.InfoTab.hidden
{
  display: none;
}

.InfoTab .Chords
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
  margin: 1vw;
}

.InfoTab .chord
{
  border-radius: 5%;
  color: white;
  background-color: #141414;
  text-align: center;
}

.InfoTab .chord.active
{
  border-radius: 5%;
  color: #141414;
  background-color: #EEE;
  text-align: center;
}
