.SelectCard
{
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 25vw;
  top: 25vh;
  width: 50vw;
  height: 50vh;
  padding: 2vw;
  border-radius: 5%;
  border: 1px solid white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-gap: 2vw;
}

.SelectCard .header
{
  grid-column: span 2;
  text-align: center;
}

.SelectCard .button
{
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5%;
  display: flex;
  align-items: center;
}

.SelectCard .button:not(.taken)
{
  cursor: pointer;
}

.SelectCard .button .content
{
  width: 100%;
}

.SelectCard .button .content img
{
  width: 50%;
}

.SelectCard .DrumsSelect
{
  border: 1px solid #FE0000;
}

.SelectCard .DrumsSelect:not(:hover):not(.taken)
{
  background-color: #ff6666;
  border: 1px solid #FE0000;
}

.SelectCard .DrumsSelect:hover:not(.taken)
{
  transition: 0.5s;
  background-image: linear-gradient(#ff6666, #FE0000);
}

.SelectCard .BassSelect
{
  border: 1px solid #011EFE;
}

.SelectCard .BassSelect:not(:hover):not(.taken)
{
  background-color: #6778fe;
  border: 1px solid #011EFE;
}

.SelectCard .BassSelect:hover:not(.taken)
{
  transition: 0.5s;
  background-image: linear-gradient(#6778fe, #011EFE);
}
