#Room.drums
{
  background-color: #DF2230;
}

#Room.bass
{
  background-color: #107AB3;
}

#Room.keys
{
  background-color: #11882A;
}

#Room.solo
{
  background-color: #791FC6;
}

#Room.large
{
  display: grid;
  grid-template-columns: 100vh calc(100vw - 100vh);
  grid-template-rows: 40vh 60vh;
}
